.outer {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.container {
  background-color: var(--grey);
  width: 80vw;
  padding: 0 30px 30px 30px;
}

.heading {
  color: var(--dark);
  font-size: 2.5em;
  font-weight: 900;
}

.subheading {
  font-weight: 700;
}

.line {
  border-top: solid 1px black;
  color: var(--dark);
  opacity: 0.1;
}

.list {
  list-style: none;
}
